/*  RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
img{
    max-width:100%;
}
/* classe per tutti i li */
li{
    list-style-type: none;
}
/* classe per tutti i a */
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* classe per l'header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ff6900;
    z-index: 100;
}
/* classe per la barra flex dell'header */
.flex-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width: 1300px;
    padding: 1.5rem;
}
/* classe per la larghezza dei div nell'header  */
.sex-type , .simboli-account{
    width: 25%;
}
/* classe per il div del logo dell'header */
.logo{
    display: flex;
    justify-content: center;
    width: 50%;
}
/* classe per modificare solo l'immagine del logo nell'header */
.logo img{
    width: 200px;
}
/* classe per la lista della scelta del tipo del sesso*/
.lista-type{
    display: flex;
    gap: 1rem;
}
/*   classe per la lista dei simboli dell'account */
.lista-simboli{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
/* classe per spostare il main sotto l'header */
main{
    padding-top: 200px;
}
/* classe per il container delle card */
.container{
    margin:0 auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* classe per la carta */
.carta{
    width: calc(100%/3);
    padding: 1rem;
    position: relative;
}
/* classe per il contenitore di tutta la carta */
.dati-carta{
    position: relative;
    width: 400px;
}
/* classe per l'interno della carta */
.interno-carta{
    position: absolute;
    padding: 6px 8px;
    color: white;    
    bottom: 50px;
    z-index: 50;
    font-weight: bold;
    font-size: 14px;
}
/* classe per lo sconto della carta */
.sconto{
    background-color: red;
}
/* classe per la sostenibilitá della carta */
.sostenibilitá{
    left: 55px;
    background-color: green;
}
/* classe per la sostenibilitá della sesta carta */
.sost-sesta{
    left: 0px;
    background-color: green;
}
/* classe per il cuore sulla carta */
.cuore-preferito{
    top: 20px;
    right: 0;
    position: absolute;
    padding: 10px;
    z-index: 50;
    background-color: white;
}
/* classe dell'a del cuore */
.cuore-preferito a{
    color: black;
    font-size: 25px;
}
/* classe per la prima immagine della carta*/
.prima-immagine{
    position: absolute;
    left: 0;
    z-index: 5;
}
/* classe per quando si passa sopra la prima immagine, in modo da farla sparire */
.prima-immagine:hover{
    opacity: 0;
}
/* classe per quando si passa sopra il cuore */
.cuore-preferito a:hover{
    color: red;
}
/* classe per il nome della carta */
h2{
    font-size: 1.2rem;
}
/* classe per il prezzo scontato della carta */
.prezzo-scontato{
    display: inline-block;
    margin-right: 5px;
    color: red;
    font-weight: bold;
}
/* classe per cancellare il prezzo senza sconto  */
.prezzo-normale{
    text-decoration: line-through;
}
/* classe per il footer */
footer{
    margin-top: 50px;
    color: white;
    padding: 30px 0px;
    background-color: #1a1a1a;
    border-bottom: 1px solid white;
}
/* classe per il container flex del footer */
.flex-footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}
/* classe per le liste dentro il footer */
.lista-footer{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
/* classe per i link delle liste dentro il footer */
.lista-footer a{
    font-size: 25px;
}